<div>
  <div class="container text-center">
    <h3 class="mt-3 text-primary">Passenger data</h3>
  </div>

  <br>

  <form #form="ngForm" (ngSubmit)="onSubmit($event)" class="col-lg-6 mx-auto">
    <div class="mb-2">
      <div class="row">
        <label for="passengerClass" class="col-form-label text-start text-muted col-md-4">
          Passenger class:
          <i class="bi bi-question-circle"
             ngbTooltip="Passenger class should be between 1 and 3"
             placement="top"
             aria-label="Tooltip on top">
          </i>
        </label>
        <div class="col-md-8">
          <input
            type="number"
            id="passengerClass"
            name="passengerClass"
            class="form-control"
            [(ngModel)]="requestDto.pclass"
            placeholder="Passenger class"
            min="1" max="3" step="1"
            required>
          <div class="invalid-feedback">Passenger class needs to be between 1 and 3</div>
        </div>
      </div>
    </div>


    <div class="mb-2">
      <div class="row">
        <label for="passengerName" class="col-form-label text-start text-muted col-md-2 col-lg-4">
          Passenger name:
          <i class="bi bi-question-circle"
              ngbTooltip="LastName, Title. FirstName"
              placement="top"
              aria-label="Tooltip on top">
          </i>
        </label>
        <div class="col-md-8">
          <input
            type="text"
            id="passengerName"
            name="passengerName"
            placeholder="Passenger Name"
            class="form-control"
            [(ngModel)]="requestDto.name"
            required
          />
          <div class="invalid-feedback">Passenger name is required</div>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <div class="row">
        <label for="passengerSex" class="col-form-label text-start text-muted col-md-2 col-lg-4">
          Passenger gender:
        </label>
        <div class="col-md-8">
          <select class="form-select" id="passengerSex" name="passengerSex" [(ngModel)]="requestDto.sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <div class="row">
          <label for="passengerAge" class="col-form-label text-start text-muted col-md-4">Passenger age:
            <i class="bi bi-question-circle"
              ngbTooltip="Age should be between 1 and 100"
              placement="top"
              aria-label="Tooltip on top">
            </i>
          </label>
          <div class="col-md-8">
            <input
              type="number"
              id="passengerAge"
              name="passengerAge"
              class="form-control"
              [(ngModel)]="requestDto.age"
              placeholder="Passenger age"
              min="1" max="100" step="1"
              required>
            <div class="invalid-feedback">Passengers age needs to be between 1 and 100</div>
          </div>
        </div>
    </div>

    <hr>

    <div class="mb-2">
      <div class="row">
          <label for="passengerSibsp" class="col-form-label text-start text-muted col-md-4"># Siblings / Spouses:
            <i class="bi bi-question-circle"
              ngbTooltip="Number of siblings and spouses should be between 0 and 20"
              placement="top"
              aria-label="Tooltip on top">
            </i>
          </label>
          <div class="col-md-8">
            <input
              type="number"
              id="passengerSibsp"
              name="passengerSibsp"
              class="form-control"
              [(ngModel)]="requestDto.sibsp"
              placeholder="Passenger number of siblings and spouses"
              min="0" max="20" step="1"
              required>
            <div class="invalid-feedback">Passenger sibsp number needs to be between 0 and 20</div>
          </div>
        </div>
    </div>

    <div class="mb-2">
      <div class="row">
          <label for="passengerParch" class="col-form-label text-start text-muted col-md-4"># Parents / Children:
            <i class="bi bi-question-circle"
              ngbTooltip="Number of parents and children should be between 0 and 20"
              placement="top"
              aria-label="Tooltip on top">
            </i>
          </label>
          <div class="col-md-8">
            <input
              type="number"
              id="passengerParch"
              name="passengerParch"
              class="form-control"
              [(ngModel)]="requestDto.parch"
              placeholder="Passenger number of parents and children"
              min="0" max="20" step="1"
              required>
            <div class="invalid-feedback">Passenger parch number needs to be between 0 and 20</div>
          </div>
        </div>
    </div>

    <hr>

    <div class="mb-2">
      <div class="row">
        <label for="passengerTicket" class="col-form-label text-start text-muted col-md-2 col-lg-4">Passenger ticket:</label>
        <div class="col-md-8">
          <input
            type="text"
            id="passengerTicket"
            name="passengerTicket"
            placeholder="Passenger ticket"
            class="form-control"
            [(ngModel)]="requestDto.ticket"
          />
        </div>
      </div>
    </div>

    <div class="mb-2">
      <div class="row">
          <label for="passengerFare" class="col-form-label text-start text-muted col-md-4">Passenger fare:
            <i class="bi bi-question-circle"
              ngbTooltip="Price paid for the ticket should be between 1 and 500"
              placement="top"
              aria-label="Tooltip on top">
            </i>
          </label>
          <div class="col-md-8">
            <input
              type="number"
              id="passengerFare"
              name="passengerFare"
              class="form-control"
              [(ngModel)]="requestDto.fare"
              placeholder="Passenger fare"
              min="1" max="500" step="1"
              required>
            <div class="invalid-feedback">Passenger fare needs to be between 1 and 500</div>
          </div>
        </div>
    </div>

    <div class="mb-2">
      <div class="row">
        <label for="passengerCabin" class="col-form-label text-start text-muted col-md-2 col-lg-4">Passenger cabin:</label>
        <div class="col-md-8">
          <input
            type="text"
            id="passengerCabin"
            name="passengerCabin"
            placeholder="Passenger cabin"
            class="form-control"
            [(ngModel)]="requestDto.cabin"
          />
        </div>
      </div>
    </div>

    <div class="mb-2">
      <div class="row">
        <label for="passengerEmbarked" class="col-form-label text-start text-muted col-md-2 col-lg-4">Passenger embarkation:</label>
        <div class="col-md-8">
          <select class="form-select" id="passengerEmbarked" name="passengerEmbarked" [(ngModel)]="requestDto.embarked" required>
            <option value="S">Southampton</option>
            <option value="C">Cherbourg</option>
            <option value="Q">Queenstown</option>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="container text-center">
      <h3 class="mt-3 text-primary">Model data</h3>
    </div>

    <br>

    <div class="mb-2">
      <div class="row">
        <label for="modelVersion" class="col-form-label text-start text-muted col-md-2 col-lg-4">Model:
          <i class="bi bi-question-circle"
            ngbTooltip="Machine learning model version (if * is selected, all models will be used and displayed in a table)"
            placement="top"
            aria-label="Tooltip on top">
          </i>
        </label>
        <div class="col-md-8">
          <select class="form-select" id="modelVersion" name="modelVersion" [(ngModel)]="requestDto.model" required>
            <option *ngFor="let version of modelVersions" [value]="version">
              <span *ngIf="version === 'svm_rbf'">[TOP]</span>
              {{ version}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="mb-2">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <button type="submit" class="btn btn-primary btn-lg">
            Check survival
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
